<!DOCTYPE html>
<html>
    <head>

        <title>Jurisquesti - Acreditando no conhecimento!</title>
            
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="/stylesheets/discestilo.css">
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <section class="main">
            <nav>
            <!--logo-------------------->
            <div class="menu-left">
            <a href = "#"><img class="logo" src="/images/logojurisquesti.png"></a>
            <p>Acreditando no Conhecimento!</p>
            </div>
            <!--sign-in----------------------------->
            <a href="/index.ejs" class="sign-in">Voltar para a Página Inicial</a>
            </nav>
            </section>

        <div class = "home-box custom-box">
            
            <h3>Disciplinas: </h3>
            <a href = "/dirconst.ejs"><button type = "button" class = "btn">Direito Constitucional</button></a>
            <a href = "/diradminst.ejs"><button type = "button" class = "btn">Direito Administrativo</button></a>
            <a href = "/dirtrabalho.ejs"><button type = "button" class = "btn">Direito do Trabalho</button></a>
            <a href = "/dirproctrabalho.ejs"><button type = "button" class = "btn">Direito Proc. do Trabalho</button></a>
            <a href = "/dircivil.ejs"><button type = "button" class = "btn">Direito Civil</button></a>
            <a href = "/dirproccivil.ejs"><button type = "button" class = "btn">Direito Processual Civil</button></a>
            <a href = "/dirpenal.ejs"><button type = "button" class = "btn">Direito Penal</button></a>
            <a href = "/dirtributario.ejs"><button type = "button" class = "btn">Direito Tributário</button></a>
            <a href = "/dirprocpenal.ejs"><button type = "button" class = "btn">Direito Processual Penal</button></a>
            <a href = "/raciociniolog.ejs"><button type = "button" class = "btn">Raciocínio-Lógico</button></a>
            <a href = "/dirprevidenciario.ejs"><button type = "button" class = "btn">Direito Previdenciário</button></a>
            
        </div>
        
	    <footer>
        <div class="dw-footer">
      
        <ul>
        <h1>Equipe de Profissionais</h1>
        <li><a href="#">Doutora Fulana</a></li>
        <li><a href="#">Doutora Beltrana</a></li>
        <li><a href="#">Doutor Ciclano</a></li>
        </ul>
     
        <ul>
        <h1>Canal</h1>
        <li><a href="#">Video Tutorial</a></li>
        <li><a href="#">Website</a></li>
        <li><a href="#">Bolgs</a></li>
        </ul>
        
        <div class="social">
        <h1>Mídias Sociais</h1>
        <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        </div>
        <p class="copyright">@2020.Todos os direitos reservados para P_lógica</p>
        </footer>
        </div>

    </body>
</html>